body {
  height: 98vh;
  width: auto;
  font-family: "Open Sans", sans-serif;
  background-image: url("assets/bckgrnd.png");
  background: linear-gradient(50% #969696);
}
main {
  margin-left: 30px;
  margin-right: 30px;
  grid-template-rows: 1fr 1fr 20px;
  grid-template-columns: 1fr;
  display: grid;
  grid-row: 1fr;
  grid-column: 1fr;
}
ul {
  display: block;
  list-style-type: disc;
  margin-left: 30px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  margin-top: 30px;
  color: #333333;
}
a {
  color: gray;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333333;
}
.top {
  position: relative;
  height: 100%;
  grid-row: 1fr;
  width: auto;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 1fr;
  display: grid;
  grid-row: span 1;
  grid-column: span 1;
  padding-bottom: 30px;
}
.portrait {
  position: absolute;
  margin: auto;
  right: 5px;
  border-radius: 50%;
  border: solid 3px #2c5fa8;
  width: 100px;
  height: 100px;
  margin-top: 60px;
}
.contactList {
  margin: auto;
  width: 60%;
}
.contact {
  margin-top: 10px;
}
p {
  color: #333333;
}
.bottom {
  position: relative;
  grid-row: 1fr;
  width: auto;
  padding-bottom: 20px;
  background: rgba(150, 150, 150, 0.6);
  grid-template-rows: 15% 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  display: grid;
  grid-row: span 1;
  grid-column: span 1;
  grid-gap: 5px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  margin-left: 30px;
  padding-top: 30px;
  color: #ffffff;
  grid-column: span 1;
  grid-row: span 1;
}
.project {
  grid-row: 1fr;
  grid-column: 1fr;
  margin: auto;
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 170px;
  text-align: right;
  font-weight: bold;
  color: #2c5fa8;
}
.amazon-clone {
  background-image: url("assets/amazon-icon.png");
}
.machine-design-2 {
  background-image: url("assets/Portfolio2.png");
}
.watch {
  background-image: url("assets/Portfolio3.jpg");
}
footer {
  grid-row: 1fr;
  height: 20px;
  border: solid 10px transparent;
}

@media only screen and (min-width: 700px) {
  .top {
    /* height: 70%; */
  }
  .bottom {
    /* height: 100%; */
    grid-template-rows: 30% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  h3 {
    grid-column: span 3;
    grid-row: span 1;
  }
  .portrait {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    border: solid 3px #2c5fa8;
    width: 120px;
    height: 120px;
  }
  .contactList {
    position: relative;
    padding-top: 30px;
  }
}
